---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../sections/HeroSection.astro";
import FeaturesSection from "../sections/OldFeaturesSection.astro";
import AUMSection from "../sections/AUMSection.astro";
import UseCasesSection from "../sections/UseCasesSection.astro";
import TeamSection from "../sections/TeamSection.astro";
import ContactSection from "../sections/ContactSection.astro";
import Footer from "../components/Footer.astro";
import Separator from "../components/Separator.astro";
import FeaturesSection from "../sections/FeaturesSection.tsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="w-full relative flex flex-col justify-start items-center">
      <Navbar />
      <HeroSection />
      <Separator
        topVector="/herobottomvector@2x.png"
        bottomVector="/herobottomtechgrid@2x.png"
        mixBlendMode="mix-blend-exclusion"
        backgroundColor="bg-brand-colors-cryptowave-sky"
      />
      <FeaturesSection client:only="react" />
      <Separator
        topVector="/vector-11.svg"
        bottomVector="/detailsseparatortechgrid@2x.png"
        mixBlendMode="mix-blend-screen"
        backgroundColor="bg-brand-colors-crypto-frost"
      />
      <AUMSection />
      <Separator
        topVector="/vector-12.svg"
        bottomVector="/grid19-32@2x.png"
        mixBlendMode="mix-blend-difference"
        backgroundColor="bg-brand-colors-node-indigo"
      />
      <UseCasesSection />
      <Separator
        topVector="/vector-13.svg"
        bottomVector="/detailsseparatortechgrid@2x.png"
        mixBlendMode="mix-blend-screen"
        backgroundColor="bg-brand-colors-decentralized-coral"
      />
      <TeamSection />
      <Separator
        topVector="/section-red@2x.png"
        bottomVector="/detailsseparatortechgrid@2x.png"
        mixBlendMode="mix-blend-screen"
        backgroundColor="bg-brand-colors-axol-coral"
      />
      <ContactSection />
      <Separator
        topVector="/vector-14.svg"
        bottomVector="/contactseparatortechgrid.svg"
        mixBlendMode="mix-blend-difference"
        backgroundColor="bg-brand-colors-decentralized-coral"
      />
      <Footer />
    </div>
  </main>
</Layout>
