---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.tsx";
import HeroSection from "../sections/HeroSection.astro";
import FeaturesSection from "../sections/FeaturesSection.tsx";
import AUMSection from "../sections/AUMSection.astro";
import UseCasesSection from "../sections/UseCasesSection.astro";
import TeamSection from "../sections/TeamSection.astro";
import ContactSection from "../sections/ContactSection.astro";
import Footer from "../components/Footer.astro";
import Separator from "../components/Separator.astro";
---

<Layout title="Axol.io • Stake sustainably with self-healing nodes">
  <main>
    <div
      class="w-full relative flex flex-col justify-start items-center overflow-x-clip"
    >
      <!-- <Navbar /> Astro Component -->
      <Navbar client:load />
      <HeroSection />
      <Separator
        topVector="/herobottomvector@2x.png"
        bottomVector="/herobottomtechgrid@2x.png"
        mixBlendMode="mix-blend-exclusion"
        backgroundColor="bg-cryptowave-sky"
      />
      <FeaturesSection client:only="react" />
      <Separator
        topVector="/vector-11.svg"
        bottomVector="/detailsseparatortechgrid@2x.png"
        mixBlendMode="mix-blend-screen"
        backgroundColor="bg-crypto-frost"
      />
      <AUMSection />
      <Separator
        topVector="/vector-12.svg"
        bottomVector="/grid19-32@2x.png"
        mixBlendMode="mix-blend-difference"
        backgroundColor="bg-node-indigo"
      />
      <UseCasesSection />
      <Separator
        topVector="/vector-13.svg"
        bottomVector="/detailsseparatortechgrid@2x.png"
        mixBlendMode="mix-blend-screen"
        backgroundColor="bg-decentralized-coral"
      />
      <TeamSection />
      <Separator
        topVector="/section-red@2x.png"
        bottomVector="/detailsseparatortechgrid@2x.png"
        mixBlendMode="mix-blend-screen"
        backgroundColor="bg-axol-coral"
      />
      <ContactSection />
      <Separator
        topVector="/vector-14.svg"
        bottomVector="/contactseparatortechgrid.svg"
        mixBlendMode="mix-blend-difference"
        backgroundColor="bg-decentralized-coral"
      />
      <Footer />
    </div>
  </main>
</Layout>
