---

---

<footer
  class="self-stretch bg-brand-colors-decentralized-coral overflow-hidden flex flex-col items-start justify-start gap-4 pt-16 px-24 pb-[82px] box-border max-w-full z-[4] text-left text-xl text-brand-colors-shadow-blockchain font-body-s mq750:pt-[42px] mq750:px-8 mq750:pb-[53px] mq750:box-border mq1100:flex-wrap"
>
  <div
    class="self-stretch flex flex-row items-start gap-14 justify-between mq450:flex-wrap"
  >
    <img
      class="w-[161px] h-[67.8px] relative object-cover"
      loading="lazy"
      alt=""
      src="/footeraxoliovectors@2x.png"
    />
    <div
      class="self-stretch flex flex-row items-start justify-start gap-[24px]"
    >
      <div class="flex flex-col items-start justify-start pt-[9.5px] px-0 pb-0">
        <b
          class="relative leading-[145%] lowercase mq450:text-base mq450:leading-[23px]"
          >Connect with us:</b
        >
      </div>
      <a
        href="https://twitter.com/axol_io"
        target="_blank"
        class="h-12 w-12 relative overflow-hidden shrink-0 inline-block"
      >
        <img
          class="absolute h-3/4 w-[68.75%] top-[12.5%] right-[15.63%] bottom-[12.5%] left-[15.63%] max-w-full overflow-hidden max-h-full"
          loading="lazy"
          alt="Twitter"
          src="/xvector.svg"
        />
      </a>
      <a
        href="https://github.com/axol-io"
        target="_blank"
        class="h-12 w-12 relative overflow-hidden shrink-0 inline-block"
      >
        <img
          class="absolute h-[85.42%] w-[87.71%] top-[6.25%] right-[6.04%] bottom-[8.33%] left-[6.25%] max-w-full overflow-hidden max-h-full"
          loading="lazy"
          alt="GitHub"
          src="/githubvector.svg"
        />
      </a>
      <a
        href="mailto:clay@axol.io"
        class="w-12 h-12 relative overflow-hidden shrink-0 inline-block"
      >
        <img
          class="absolute h-[62.5%] w-[81.25%] top-[18.75%] right-[9.38%] bottom-[18.75%] left-[9.38%] max-w-full overflow-hidden max-h-full"
          loading="lazy"
          alt="Email"
          src="/mailvector.svg"
        />
      </a>
    </div>
    <div class="self-stretch flex flex-col items-end justify-right text-[14px]">
      <div class="flex flex-col items-end justify-start">
        <div class="self-stretch relative leading-[145%] font-medium">
          Copyrights Reserved ©️ 2024
        </div>
        <div class="self-stretch relative leading-[145%] font-medium">
          Website & brand identity design by
        </div>
        <div
          class="self-stretch flex flex-row items-end gap-[10px] justify-center"
        >
          <a href="https://www.bapspatil.com/" target="_blank">
            <img
              class="h-[19.3px] w-5 relative object-cover"
              loading="lazy"
              alt=""
              src="/bapsvector@2x.png"
            />
          </a>
          <a
            class="flex-1 relative [text-decoration:underline] leading-[145%] font-medium text-[inherit] inline-block min-w-[77px]"
            href="https://www.bapspatil.com/"
            target="https://www.bapspatil.com/">Baps Patil</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-start justify-between pt-4 mq450:flex-wrap">
    <b
      class="relative leading-[145%] lowercase inline-block min-w-[8px] mq450:text-base mq450:leading-[8px]"
      >Glossary</b
    >
    <div
      class="flex flex-row md:flex-column items-start justify-between gap-14 pt-4 min-w-[157px] text-base md:gap-18"
    >
      <div class="flex-1">
        <div class="relative leading-[145%] font-medium">Axolotl</div>
        <i class="relative leading-[145%] font-medium">/ˈaksəlɒt(ə)l/</i>
        <div class="relative leading-[145%]">
          <span class="font-medium"
            >Mexican salamander that in natural conditions retains its aquatic
            larval form throughout life but is able to breed.
          </span>
          <i class="font-medium">Notable for their self-healing properties.</i>
        </div>
      </div>
      <div class="flex-1">
        <div class="relative leading-[145%] font-medium">
          Sustainable Staking
        </div>
        <i class="relative leading-[145%] font-medium"
          >/səˈsteɪnəb(ə)l steɪking/</i
        >
        <div class="relative leading-[145%] font-medium">
          the act of using renewable energy and capital efficient business
          structure to build infrastructure which will sustain changes in
          climate and market conditions.
        </div>
      </div>
      <div class="flex-1">
        <div class="relative leading-[145%] font-medium">
          Self-healing nodes
        </div>
        <i class="relative leading-[145%] font-medium">/ˈsɛɫf.ˈhiɫɪŋ. ˈnoʊdz/</i
        >
        <div class="relative leading-[145%] font-medium">
          automation programming that reacts to any inconsistencies in node
          operations faster than manual intervention.
        </div>
      </div>
    </div>
  </div>
</footer>
