---

---

<footer
  class="flex w-full flex-col items-start justify-start gap-8 overflow-hidden bg-decentralized-coral px-4 pb-16 pt-8 text-left text-shadow-blockchain md:gap-16 md:px-16 md:pb-32 md:pt-16">
  <div
    class="flex w-full flex-col items-start gap-8 md:flex-row md:items-center md:justify-between md:gap-4">
    <div class="flex flex-col items-start justify-start gap-4">
      <img
        class="relative h-auto w-40 object-cover"
        loading="lazy"
        alt="Axol.io Logo"
        src="/images/logo-primary-shadow-blockchain.svg"
      />
    </div>
    <div
      class="flex flex-col items-start justify-start gap-2 md:flex-row md:items-center md:justify-center md:gap-6">
      <p class="relative font-display text-nav lowercase">Connect with us:</p>

      <div class="flex flex-row gap-6">
        <a
          href="https://twitter.com/axol_io"
          target="_blank"
          class="relative inline-block h-12 w-12">
          <img
            class="absolute h-12"
            loading="lazy"
            alt="Twitter"
            src="/images/icon-x.svg"
          />
        </a>
        <a
          href="https://github.com/axol-io"
          target="_blank"
          class="relative inline-block h-12 w-12">
          <img
            class="absolute h-12"
            loading="lazy"
            alt="GitHub"
            src="/images/icon-github.svg"
          />
        </a>
        <a
          href="mailto:clay@axol.io"
          class="relative inline-block h-12 w-12">
          <img
            class="absolute h-12"
            loading="lazy"
            alt="Email"
            src="/images/icon-email.svg"
          />
        </a>
      </div>
    </div>
    <div
      class="flex flex-col items-start justify-center text-body-sm md:items-end">
      <div
        class="items:start flex flex-col justify-start gap-1 text-left font-body text-body-sm md:items-end md:text-right">
        <p class="relative text-body-sm">Copyrights Reserved ©️ 2023</p>
        <p class="relative">Website dev & brand design by</p>
        <div class="flex flex-row items-end justify-center gap-2">
          <a
            href="https://www.bapspatil.com/"
            target="_blank">
            <img
              class="relative h-6 w-auto object-cover"
              loading="lazy"
              alt="Baps Patil"
              src="/images/icon-bapspatil.svg"
            />
          </a>
          <a
            class="relative inline-block flex-1 underline"
            href="https://www.bapspatil.com/"
            target="_blank">
            Baps Patil
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col items-start justify-between gap-8 text-body-sm md:flex-row md:gap-16">
    <p class="relative inline-block font-display text-nav lowercase">
      Glossary
    </p>
    <div
      class="flex flex-col items-start justify-between gap-6 md:flex-row md:gap-16">
      <div class="flex flex-1 flex-col gap-1">
        <div class="relative font-bold">Axolotl</div>
        <i class="relative">/ˈaksəlɒt(ə)l/</i>
        <div class="relative">
          <span>
            Mexican salamander that in natural conditions retains its aquatic
            larval form throughout life but is able to breed.
          </span>
          <i>Notable for their self-healing properties.</i>
        </div>
      </div>
      <div class="flex flex-1 flex-col gap-1">
        <div class="relative font-bold">Sustainable Staking</div>
        <i class="relative">/səˈsteɪnəb(ə)l steɪking/</i>
        <div class="relative">
          the act of using renewable energy and capital efficient business
          structure to build infrastructure which will sustain changes in
          climate and market conditions.
        </div>
      </div>
      <div class="flex flex-1 flex-col gap-1">
        <div class="relative font-bold">Self-healing nodes</div>
        <i class="relative">/ˈsɛɫf.ˈhiɫɪŋ. ˈnoʊdz/</i>
        <div class="relative">
          automation programming that reacts to any inconsistencies in node
          operations faster than manual intervention.
        </div>
      </div>
    </div>
  </div>
</footer>
