---
import { Image } from "astro:assets";
import Logo from "./Logo.astro";
import { PiListDuotone, PiXDuotone } from "react-icons/pi";

const navLinks = [
  {
    name: "Home",
    href: "#homeSection",
  },
  {
    name: "Features",
    href: "#featuresSection",
  },
  {
    name: "Use Cases",
    href: "#useCasesSection",
  },
  {
    name: "Team",
    href: "#teamSection",
  },
  {
    name: "Contact",
    href: "#contactSection",
  },
];
---

<>
  <div
    class="fixed hidden md:flex z-50 mt-16 items-center justify-center text-node-indigo transition-all duration-300 ease-in-out"
  >
    <div
      id="navbar"
      class="overflow-hidden flex flex-col items-center justify-center max-w-full z-[2]"
    >
      <div
        class="rounded-t-full rounded-b-none bg-axol-coral shadow-[0px_0px_3px_rgba(230,_132,_118,_0.5)] overflow-hidden flex flex-row items-center justify-center py-2 px-6 box-border gap-[8px] whitespace-nowrap max-w-full"
      >
        <Image
          class="h-6 w-6 relative overflow-hidden shrink-0 min-h-[24px]"
          alt=""
          src="/frame.svg"
          width={24}
          height={24}
        />

        <div class="relative font-body text-body-sm">
          Now running infra on Lido, Gnosis, & Osmosis!
        </div>
      </div>
      <div
        class="rounded-full bg-axol-coral shadow-[0px_4px_13.6px_rgba(82,_18,_10,_0.15)] box-border flex flex-row items-center justify-between py-1 px-[29px] gap-[30px] max-w-full border-t-[2px] border-solid border-blanchedalmond border-l-[2px] mq750:justify-between mq750:pl-[15px] mq750:pr-[15px] mq750:box-border mq450:pl-5 mq450:pr-5 mq450:box-border button-container transform transition-transform duration-300 ease-in-out"
      >
        <nav
          class="m-0 rounded-[54px] flex flex-row items-center justify-center py-[8px] px-[15px] box-border gap-[24px] max-w-full text-left text-xl text-node-indigo font-body-s mq750:flex mq450:flex"
        >
          <div
            class="navbar-logo-container mq750:order-first mq450:order-first"
          >
            <Image
              class="self-stretch w-[149px] max-h-full object-cover min-h-[56px] pt-0 pl-2 pb-0 pr-0 navbar-logo"
              loading="lazy"
              alt=""
              width={298}
              height={112}
              src="/navbarlogogroup@2x.png"
            />
          </div>
          {
            navLinks.map((link) => (
              <div class="flex flex-row items-center justify-center cursor-pointer hover:border-b-[4px] hover:border-solid hover:border-node-indigo transition-all duration-200 ease-in-out">
                <a
                  class="relative font-display text-nav lowercase inline-block min-w-[56px] cursor-pointer"
                  href={link.href}
                >
                  {link.name}
                </a>
              </div>
            ))
          }
          <div
            class="h-8 w-8 flex rounded-full items-center justify-center pb-0.5 border-2 border-node-indigo"
          >
            <p class="font-display text-nav lowercase">en</p>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div
    class="fixed inline-flex md:hidden mt-8 px-4 z-50 w-full justify-between items-center gap-4"
  >
    <a
      class="flex flex-row px-4 py-2 bg-orange-200 rounded-3xl border-l border-r border-t border-b-4 hover:border-b transition-all duration-300 border-blue-900 justify-center items-center"
      href="/"
    >
      <Logo fill="var(--node-indigo)" width={86} height={36} />
    </a>
    <a
      id="openMenu"
      class="grow shrink basis-0 rounded-3xl flex-col justify-center items-end gap-2 inline-flex"
      href="#"
    >
      <div
        class="p-2 bg-orange-200 rounded-md border-l border-r border-t border-b-4 hover:border-b transition-all duration-300 border-blue-900 justify-center items-center gap-2 inline-flex"
      >
        <PiListDuotone color="var(--node-indigo)" size={32} />
      </div>
    </a>
  </div>
</>
