---
import { Image } from "astro:assets";
---

<section
  class="h-screen self-stretch bg-brand-colors-crypto-frost overflow-hidden flex flex-col items-start justify-start pt-[90px] px-16 pb-[136px] relative gap-[20px] text-center text-[110px] text-brand-colors-node-indigo font-body-s mq750:pl-8 mq750:pr-8 mq750:box-border mq450:pt-[58px] mq450:pb-[88px] mq450:box-border"
>
  <Image
    class="w-screen h-auto absolute !m-[0] right-0 bottom-0 left-0 overflow-hidden shrink-0 mix-blend-difference"
    alt="AUM Background"
    width={1280}
    height={860}
    src="/aum-background.png"
  />

  <div
    class="relative h-screen flex flex-col justify-center items-center gap-0"
  >
    <h2 class="relative font-title text-[175%] font-bold text-center">
      +$22,000,000
    </h2>
    <h2 class="relative font-title text-h2 text-center">AUM</h2>
  </div>
</section>
