---

---

<section
  class="self-stretch bg-brand-colors-crypto-frost overflow-hidden flex flex-col items-start justify-start pt-[90px] px-16 pb-[136px] relative gap-[20px] text-center text-[110px] text-brand-colors-node-indigo font-body-s mq750:pl-8 mq750:pr-8 mq750:box-border mq450:pt-[58px] mq450:pb-[88px] mq450:box-border"
>
  <img
    class="w-screen h-auto absolute !m-[0] right-0 bottom-[-106px] left-0 overflow-hidden shrink-0 mix-blend-difference"
    alt=""
    src="/aumtechgrid.svg"
  />

  <b
    class="self-stretch relative leading-[100%] z-[1] mq750:text-[56px] mq750:leading-[84px] mq450:text-[35px] mq450:leading-[56px]"
    >+$22,000,000</b
  >
  <div
    class="self-stretch flex flex-row items-start justify-center text-45xl text-brand-colors-shadow-blockchain"
  >
    <h1
      class="m-0 w-[80px] relative text-inherit leading-[100%] font-bold font-inherit inline-block z-[1] mq750:text-32xl mq750:leading-[51px] mq450:text-19xl mq450:leading-[38px]"
    >
      AUM
    </h1>
  </div>
</section>
