---
import { Image } from "astro:assets";
import Counter from "../components/Counter.tsx";
---

<section
  id="aumSection"
  class="relative w-screen h-screen bg-brand-colors-crypto-frost overflow-hidden flex flex-col items-center justify-center text-center text-brand-colors-node-indigo"
>
  <Image
    class="w-screen h-auto absolute !m-[0] right-0 bottom-0 left-0 overflow-hidden shrink-0 mix-blend-difference"
    alt="AUM Background"
    width={1280}
    height={860}
    src="/aum-background.png"
  />

  <div
    class="h-screen flex flex-col justify-center items-center gap-0 mx-0 px-0"
  >
    <p
      class="font-title text-[128px] font-bold hidden md:block lg:text-[160px]"
    >
      ${(<Counter value={22000000} client:only="react" />)}
    </p>
    <p class="font-title text-h2 font-bold block md:hidden">$22M+</p>
    <p class="font-title text-h3">AUM</p>
  </div>
</section>
