---

---

<section
  id="contactSection"
  class="w-screen h-auto md:h-screen bg-axol-coral overflow-hidden flex flex-col items-center md:items-start justify-center px-4 md:px-16 lg:px-32 xl:px-48 py-8 md:py-16 relative gap-8 text-left text-node-indigo"
>
  <img
    class="absolute w-full h-full bottom-0 inset-x-0 object-cover mix-blend-difference z-0"
    alt="Mesh background for contact section"
    src="/images/contact-mesh.webp"
  />
  <h1
    class="relative w-auto h-auto inline-block font-title text-mobile-h2 md:text-h2"
  >
    Get in touch!
  </h1>
  <form action="#" class="relative w-full md:w-96 flex flex-col gap-4 z-10">
    <div>
      <input
        type="text"
        id="name"
        class="w-full bg-crypto-frost px-4 py-2 text-shadow-blockchain font-body text-body-md rounded border-b-6 border-decentralized-coral"
        placeholder="your full name"
        required
      />
    </div>
    <div>
      <input
        type="email"
        id="email"
        class="w-full bg-crypto-frost px-4 py-2 text-shadow-blockchain font-body text-body-md rounded border-b-6 border-decentralized-coral"
        placeholder="your email"
        required
      />
    </div>

    <div class="sm:col-span-2">
      <textarea
        id="message"
        rows="6"
        class="w-full bg-crypto-frost px-4 py-2 text-shadow-blockchain font-body text-body-md rounded border-b-6 border-decentralized-coral"
        placeholder="let us know how we can help you!"></textarea>
    </div>
    <div
      class="cf-turnstile"
      data-sitekey=""
      data-callback="javascriptCallback"
    >
    </div>
    <button
      type="submit"
      class="bg-node-indigo text-crypto-frost border-cryptowave-sky hover:border-b-[2px] active:bg-shadow-blockchain active:text-crypto-frost active:border-cryptowave-sky w-full md:w-fit inline-flex justify-center items-center px-[36px] py-[12px] border-t-2 border-r-2 border-b-[6px] border-l-2 rounded-[8px] transition-all duration-300 ease-in-out font-display text-button no-underline lowercase"
      >submit</button
    >
  </form>

  <img
    class="relative md:absolute h-auto object-cover right-0 bottom-0 w-128 md:w-192 lg:w-256 z-0"
    loading="lazy"
    alt="Background image for contact section"
    src="/images/contact-image.webp"
  />
</section>
