---

---

<section
  id="contactSection"
  class="self-stretch bg-brand-colors-axol-coral overflow-hidden flex flex-col items-start justify-start pt-16 pb-[0] pr-5 pl-[101px] box-border relative gap-0 max-w-full z-[2] text-left text-45xl text-brand-colors-node-indigo font-body-s mq750:gap-[0] mq750:pl-[50px] mq750:pt-[0px] mq750:pb-[0px] mq750:box-border mq450:gap-[86px] mq450:pl-5 mq450:box-border"
>
  <h1
    class="m-0 relative text-inherit leading-[100%] font-bold font-inherit inline-block max-w-full z-[2] mq750:text-32xl mq750:leading-[51px] mq450:text-19xl mq450:leading-[38px]"
  >
    Get in touch!
  </h1>
  <div
    class="w-[920px] flex flex-row items-start justify-center z-[2] text-9xl"
  >
    <img
      class="object-cover w-[80%] h-auto md:w-[60%] sm:w-[50%] z-[2]"
      loading="lazy"
      alt=""
      src="/apaperairplanewithadesertfernsandcactiin-1@2x.png"
    />
  </div>
  <div
    class="w-full h-[854px] absolute !m-[0] top-[-264px] right-[0px] left-[0px]"
  >
    <img
      class="relative w-full h-full object-cover mix-blend-difference"
      alt=""
      src="/grid15-mesh-5@2x.png"
    />
    <form action="/submit-form" method="POST">
      <div
        class="absolute top-[424px] left-[101px] rounded-md bg-brand-colors-crypto-frost box-border w-[400px] h-[51px] z-[2] border-b-[6px] border-solid border-brand-colors-decentralized-coral"
      >
        <input
          type="text"
          placeholder="Name"
          class="absolute top-[0px] left-[0px] rounded-md bg-brand-colors-crypto-frost box-border w-[400px] h-[51px] border-b-[6px] border-solid border-brand-colors-decentralized-coral pl-1.5 text-sm-9"
          required
        />
      </div>
      <div
        class="absolute top-[485px] left-[101px] rounded-md bg-brand-colors-crypto-frost box-border w-[400px] h-[51px] z-[2] border-b-[6px] border-solid border-brand-colors-decentralized-coral"
      >
        <input
          type="email"
          placeholder="example@gmail.com"
          class="absolute top-[0px] left-[0px] rounded-md bg-brand-colors-crypto-frost box-border w-[400px] h-[51px] border-b-[6px] border-solid border-brand-colors-decentralized-coral pl-1.5 text-sm-9"
          required
        />
      </div>
      <textarea
        name="message"
        placeholder="a short message..."
        class="absolute top-[546px] left-[101px] rounded-md bg-brand-colors-crypto-frost box-border w-[400px] h-[181px] z-[2] border-b-[6px] border-solid border-brand-colors-decentralized-coral resize-none pt-1.5 pl-1.5 text-sm-9"
        rows="9"
        cols="20"
        class="w-full h-full rounded-md bg-transparent border-none resize-none"
        rows="9"
        cols="20"
        required
        value=""></textarea>
      <button
        class="cursor-pointer py-3 px-9 bg-brand-colors-node-indigo w-[157px] h-[62px] rounded-[.375rem] box-border flex flex-row items-center justify-center z-[1000] border-t-[2px] border-solid border-brand-colors-cryptowave-sky border-r-[2px] border-b-[6px] border-l-[2px] hover:bg-darkslateblue transition-colors duration-300 ease-in-out absolute top-[747px] left-[101px]"
      >
        <b
          class="text-5xl lowercase font-body-s text-brand-colors-crypto-frost min-w-[81px] mq450:text-lgi"
          >submit</b
        >
      </button>
    </form>
  </div>
</section>
