---

---

<section
  class="relative flex h-auto w-screen flex-col items-center justify-center gap-8 overflow-hidden bg-axol-coral px-4 py-8 text-left text-node-indigo md:h-screen md:items-start md:px-16 md:py-16 lg:px-32 xl:px-48">
  <img
    class="absolute inset-x-0 bottom-0 z-0 h-full w-full object-cover mix-blend-difference hover:scale-105 transition-all duration-300 ease-in-out"
    alt="Mesh background for contact section"
    src="/images/contact-mesh.webp"
  />
  <h1
    class="relative inline-block h-auto w-auto font-title text-mobile-h2 md:text-h2">
    Get in touch!
  </h1>
  <form
    action="https://submit-form.com/LgS1hXRbe"
    class="relative z-10 flex w-full flex-col gap-4 md:w-96">
    <div>
      <input
        type="text"
        id="name"
        name="name"
        class="w-full rounded border-b-6 border-decentralized-coral bg-crypto-frost px-4 py-2 font-body text-body-md text-shadow-blockchain"
        placeholder="your full name"
        required
      />
    </div>
    <div>
      <input
        type="email"
        id="email"
        name="email"
        class="w-full rounded border-b-6 border-decentralized-coral bg-crypto-frost px-4 py-2 font-body text-body-md text-shadow-blockchain"
        placeholder="your email"
        required
      />
    </div>

    <div class="sm:col-span-2">
      <textarea
        id="message"
        name="message"
        rows="6"
        class="w-full rounded border-b-6 border-decentralized-coral bg-crypto-frost px-4 py-2 font-body text-body-md text-shadow-blockchain"
        placeholder="let us know how we can help you!" />
    </div>
    <div
      class="cf-turnstile"
      data-sitekey="0x4AAAAAAAYvG6dTtoiCwUgX"
      data-callback="javascriptCallback">
    </div>
    <button
      type="submit"
      class="inline-flex w-full items-center justify-center rounded-[8px] border-b-[6px] border-l-2 border-r-2 border-t-2 border-cryptowave-sky bg-node-indigo px-[36px] py-[12px] font-display text-button lowercase text-crypto-frost no-underline transition-all duration-300 ease-in-out hover:border-b-[2px] active:border-cryptowave-sky active:bg-shadow-blockchain active:text-crypto-frost md:w-fit"
      aria-label="Submit">
      submit
    </button>
  </form>

  <img
    class="relative bottom-0 right-0 z-0 h-auto w-128 object-cover md:absolute md:w-192 lg:w-256"
    loading="lazy"
    alt="Background image for contact section"
    src="/images/contact-image.webp"
  />
</section>
