---
import { Image } from "astro:assets";
---

<section
  class="self-stretch bg-brand-colors-decentralized-coral overflow-hidden flex flex-row items-start justify-start max-w-full text-center text-base text-brand-colors-crypto-frost font-body-s"
>
  <div
    class="flex-1 overflow-hidden flex flex-col items-end justify-start pt-8 px-0 pb-0 box-border relative gap-[32px] max-w-full"
  >
    <Image
      src="/mesh-1@2x.png"
      alt="A mesh background for Axol.io"
      width={2560}
      height={2560}
      class="w-full h-full absolute !m-[0] top-[0px] right-[0px] bottom-[0px] left-[0px] max-w-full overflow-hidden max-h-full object-cover mix-blend-exclusion"
    />

    <div
      class="self-stretch flex flex-row items-start justify-center py-0 px-5 box-border max-w-full text-[68px] mt-48"
    >
      <div
        class="w-[844px] flex flex-col items-start justify-start py-0 pr-[7px] pl-2 box-border relative gap-[23.7px] max-w-full z-[1]"
        id="homeSection"
      >
        <Image
          class="w-[615.5px] h-[13px] absolute !m-[0] top-[129.3px] right-[29px] object-cover"
          loading="lazy"
          alt=""
          src="/ctaswoopvector@2x.png"
          width={1260}
          height={55}
        />

        <div
          class="self-stretch flex flex-row items-start justify-start py-0 px-[22px]"
        >
          <h1
            class="m-0 flex-1 relative text-inherit leading-[100%] font-bold font-inherit z-[1] mq750:text-[54px] mq750:leading-[54px] mq450:text-[41px] mq450:leading-[41px]"
          >
            <p class="m-0">Stake sustainably</p>
            <p class="m-0">with self-healing nodes</p>
          </h1>
        </div>
        <div
          class="self-stretch flex flex-row items-start justify-start py-0 px-[22px] box-border max-w-full text-xl"
        >
          <div
            class="flex-1 relative leading-[145%] font-medium inline-block max-w-full mq450:text-base mq450:leading-[23px]"
          >
            Empowering institutional staking infrastructure with unrivaled
            uptime, harnessing self-healing nodes and renewable energy across
            Latin America.
          </div>
        </div>
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[10.7px] max-w-full text-left text-5xl"
        >
          <div class="flex justify-center items-center w-full">
            <div class="flex justify-center items-center w-full">
              <div
                class="flex flex-row items-center justify-center gap-[16px] max-w-full"
              >
                <a
                  href="#bookCall"
                  class="w-[193.5px] flex justify-center py-0 px-0 box-border cursor-pointer no-underline"
                >
                  <div
                    class="w-full rounded-md bg-brand-colors-node-indigo flex items-center justify-center py-3 px-[34px] whitespace-nowrap border-t-[2px] border-solid border-brand-colors-cryptowave-sky border-r-[2px] border-b-[6px] border-l-[2px] hover:bg-blue-500 transition-colors duration-300 ease-in-out"
                  >
                    <b
                      class="relative lowercase inline-block min-w-[125px] text-white"
                      >Book a Call</b
                    >
                  </div>
                </a>
                <a
                  href="#learnMore"
                  class="w-[193.5px] flex justify-center py-0 px-0 box-border text-center cursor-pointer no-underline"
                >
                  <div
                    class="w-full rounded-md flex items-center justify-center py-3 px-[34px] border-t-[2px] border-solid border-brand-colors-crypto-frost border-r-[2px] border-b-[6px] border-l-[2px] hover:bg-blue-500 transition-colors duration-300 ease-in-out"
                  >
                    <b
                      class="w-[124px] relative lowercase inline-block min-w-[124px] text-white whitespace-nowrap mq450:text-lgi"
                      >learn more</b
                    >
                  </div>
                </a>
              </div>
            </div>
          </div>
          <Image
            class="self-stretch mq450:h-[300px] h-[591px] relative max-w-full overflow-hidden shrink-0 object-cover"
            loading="lazy"
            alt=""
            width={1658}
            height={1182}
            src="/ctaaxolelectricfield@2x.png"
          />
        </div>
      </div>
    </div>
    <div
      class="self-stretch flex flex-col items-start justify-start gap-[20px] text-[40px] mq750:gap-[19px]"
    >
      <h1
        class="m-0 self-stretch relative text-inherit leading-[100%] font-bold font-inherit z-[1] mq750:text-19xl mq750:leading-[38px] mq450:text-10xl mq450:leading-[29px]"
      >
        Running node infra on:
      </h1>
      <div
        class="self-stretch flex flex-row flex-wrap items-center justify-center py-0 px-16 gap-14"
      >
        <Image
          class="w-auto h-[90px] relative overflow-hidden object-cover"
          alt=""
          src="/Set D - Wordmark.svg"
          width={891}
          height={500}
        />
        <Image
          class="w-auto h-[28px] relative overflow-hidden shrink-0 object-cover"
          loading="lazy"
          alt=""
          src="/herognosis@2x.png"
          width={601}
          height={64}
        />
        <Image
          class="w-auto h-[46px] relative overflow-hidden shrink-0 object-cover min-h-[42px]"
          loading="lazy"
          alt=""
          src="/herolido@2x.png"
          width={351}
          height={92}
        />
        <Image
          class="h-[60px] w-auto relative overflow-hidden shrink-0 object-cover"
          loading="lazy"
          alt=""
          src="/heroOsmosis.png"
          width={1200}
          height={400}
        />
      </div>
    </div>
  </div>
</section>
