---
import { Image } from "astro:assets"
import Button from "../components/Button.astro"
---

<section
  id="topSection"
  class="relative flex h-auto w-full flex-col items-center justify-start gap-8 overflow-hidden bg-decentralized-coral px-4 pb-8 pt-32 text-center text-crypto-frost md:px-16 md:pb-16 md:pt-44">
  <Image
    src="/images/hero-mesh.webp"
    alt="A mesh background for Axol.io"
    width={2560}
    height={2560}
    loading={"eager"}
    decoding={"sync"}
    class="absolute inset-0 h-full w-full object-cover mix-blend-exclusion hover:scale-105 transition-all duration-300 ease-in-out"
  />

  <div
    class="relative z-10 flex w-full max-w-[790px] flex-col items-center justify-center gap-4 sm:w-[90%] sm:gap-6">
    <h1 class="w-full font-title text-mobile-h1 md:text-h1">
      Stake sustainably
      <span class="block">
        with
        <span class="relative sm:whitespace-nowrap">
          <span
            class="inset-x-0 bottom-2 hidden h-[12px] rounded-full bg-axol-coral/50 sm:absolute sm:block">
          </span>
          <span
            class="relative underline decoration-axol-coral/50 decoration-8 sm:no-underline">
            self-healing nodes
          </span>
        </span>
      </span>
    </h1>

    <p class="relative inline-block text-body-md">
      Empowering institutional staking infrastructure with unrivaled uptime,
      harnessing self-healing nodes and renewable energy across Latin America.
    </p>
    <div
      class="flex w-full flex-col items-center justify-center gap-4 sm:flex-row">
      <Button
        variant="primaryLight"
        text="Book a Call"
        href="https://calendar.app.google/cSiY2rrQpxz5xfPx7?utm_source=axolsite&utm_medium=website&utm_campaign=homepage&utm_content=hero+section+button"
        target="_blank"
      />
      <Button
        variant="secondaryDark"
        text="Learn More"
        href="#featuresSection"
      />
    </div>
    <Image
      class="relative -z-10 -mt-4 w-auto object-cover sm:-mt-8 sm:h-[420px] md:h-[450px] lg:h-[500px]"
      alt="An axolotl running a node on the Axol.io Network"
      width={1658}
      height={1182}
      loading={"eager"}
      decoding={"sync"}
      src="/images/hero-image.webp"
    />
  </div>

  <div class="z-10 flex flex-col items-center justify-start gap-12">
    <h2 class="font-title text-mobile-h2 md:text-h3">Running node infra on:</h2>
    <div
      class="flex flex-row flex-wrap items-center justify-center gap-8 px-4 py-0 sm:gap-12 md:gap-16 md:px-16">
      <a href="https://app.stakewise.io/vault/mainnet/0x2cf7cd8004c99cb4b6946e0dd2b19fba89bbe4eb" target="_blank">
        <Image
          class="relative h-[52px] w-auto object-cover"
          alt="Ethereum"
          src="/images/company-eth.svg"
          width={260}
          height={104}
          loading={"eager"}
          decoding={"sync"}
        />
      </a>
      <a href="https://app.stakewise.io/vault/gnosis/0x33c346928ed9249cf1d5fc16ae32a8cffa1671ad" target="_blank">
        <Image
          class="relative h-[26px] w-auto object-cover md:h-[32px]"
          alt="Gnosis Chain"
          src="/images/company-gnosischain.svg"
          width={600}
          height={64}
          loading={"eager"}
          decoding={"sync"}
        />
      </a>
      <a href="https://www.elixir.xyz/validators/search/0x7551aeB37e8639563d590698eF7Eb1A8C912E5ce" target="_blank">
        <Image
          class="elixir-logo"
          alt="Elixir.xyz"
          src="/images/company-elixir.svg"
          width={200}
          height={30}
          loading={"eager"}
          decoding={"sync"}
        />
      </a>
      <a href="https://operators.lido.fi/module/2" target="_blank">
        <Image
          class="relative h-[46px] w-auto object-cover"
          alt="Lido CSM and Lido DVT"
          src="/images/company-lido.svg"
          width={350}
          height={92}
          loading={"eager"}
          decoding={"sync"}
        />
      </a>
      <Image
        class="relative h-[52px] w-auto object-cover"
        alt="Osmosis"
        src="/images/company-osmosis.svg"
        width={420}
        height={104}
        loading={"eager"}
        decoding={"sync"}
      />
    </div>
  </div>
</section>
