---

---

<section
  id="whatWeOfferSection"
  class="self-stretch flex flex-col justify-start max-w-full text-center text-45xl text-crypto-frost font-body-s overflow-hidden"
>
  <div
    class="self-stretch bg-cryptowave-sky overflow-hidden flex flex-col items-end justify-start pt-4 px-[31px] pb-[20px] box-border relative gap-[48px] max-w-full mq750:gap-[24px] mq750:pl-[15.5px] mq750:pr-[15.5px] mq750:box-border mq450:pt-[10.5px] mq450:pb-[20.5px] mq450:box-border"
  >
    <img
      class="w-screen h-auto absolute !m-[0] inset-0 max-w-full overflow-hidden shrink-0 mix-blend-screen pt-[75px]"
      alt=""
      src="/featuresectiontechgrid.svg"
    />

    <div class="flex justify-center items-center w-full">
      <h1
        class="text-center m-0 w-full relative text-inherit leading-[100%] font-bold font-inherit mq750:text-32xl mq750:leading-[51px] mq450:text-19xl mq450:leading-[38px]"
      >
        What we offer
      </h1>
    </div>
    <div
      class="self-stretch flex flex-row items-center justify-between gap-[19.74px] z-[1] text-sm-9 text-axol-coral mq1275:flex-wrap mq1275:justify-center"
    >
      <div
        class="h-[187px] w-[273.9px] flex flex-col items-center justify-center"
      >
        <div
          class="rounded-[125.04px] bg-node-indigo overflow-hidden flex flex-col items-center justify-start pt-[4.95px] px-[26.45px] pb-[8.25px] gap-[9.3px] w-auto"
        >
          <img
            class="relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/whitelabeldesertfern@2x.png"
          />
          <div
            class="relative tracking-[0.1em] leading-[120%] uppercase font-extrabold"
          >
            Institutional white label nodes
          </div>
        </div>
      </div>
      <div
        class="h-[187px] w-[273.9px] flex flex-col items-center justify-center"
      >
        <div
          class="self-stretch flex-1 rounded-[125.04px] bg-node-indigo overflow-hidden flex flex-col items-center justify-start pt-[9.9px] px-[32.9px] pb-[16.5px] gap-[9.3px]"
        >
          <img
            class="self-stretch flex-1 relative rounded-[3.47px] max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/consultingdesertfern@2x.png"
          />

          <div
            class="self-stretch relative tracking-[0.1em] leading-[120%] uppercase font-extrabold"
          >
            Protocol / Node Consulting
          </div>
        </div>
      </div>
      <div
        class="h-[186px] w-[273.9px] flex flex-col items-center justify-center"
      >
        <div
          class="self-stretch flex-1 rounded-[125.04px] bg-node-indigo overflow-hidden flex flex-col items-center justify-start pt-[9.9px] px-[32.9px] pb-[16.4px] gap-[9.3px]"
        >
          <img
            class="self-stretch flex-1 relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/bitcoindefidesertfern@2x.png"
          />

          <div
            class="self-stretch relative tracking-[0.1em] leading-[120%] uppercase font-extrabold"
          >
            <p class="m-0">Bitcoin</p>
            <p class="m-0">DeFi</p>
          </div>
        </div>
      </div>
      <div
        class="h-[187px] w-[273.9px] flex flex-col items-center justify-center"
      >
        <div
          class="self-stretch flex-1 rounded-[125.04px] bg-node-indigo overflow-hidden flex flex-col items-center justify-start pt-[9.9px] px-[32.9px] pb-[16.5px] gap-[9.3px]"
        >
          <img
            class="self-stretch flex-1 relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/saasdesertfern@2x.png"
          />

          <div
            class="self-stretch relative tracking-[0.1em] leading-[120%] uppercase font-extrabold"
          >
            <p class="m-0">Staking-as-</p>
            <p class="m-0">a-Service</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-cryptowave-sky overflow-x-auto flex flex-col items-start justify-start pt-16 pb-[72px] pr-0 pl-20 box-border relative gap-[8px] max-w-full text-17xl text-node-indigo mq750:pl-10 mq750:pt-[27px] mq750:pb-[31px] mq750:box-border mq1100:pt-[42px] mq1100:pb-[47px] mq1100:box-border"
  >
    <img
      class="w-screen h-auto absolute !m-[0] right-0 bottom-0 left-0 max-w-none overflow-hidden shrink-0 mix-blend-screen"
      alt=""
      src="/detailstechgrid.svg"
    />

    <div
      class="w-[1200px] overflow-x-auto flex flex-row items-start justify-start gap-[32px] max-w-full z-[1] mq750:gap-[16px]"
    >
      <div
        class="w-[1120px] shrink-0 flex flex-col items-end justify-start pt-0 px-0 pb-[0px] box-border gap-[68px] max-w-full text-xl text-crypto-frost mq750:gap-[17px] mq1275:gap-[34px]"
      >
        <div
          id="feature-carousel"
          class="self-stretch flex flex-row items-start justify-start relative max-w-full"
        >
          <img
            class="h-[630px] flex-1 relative rounded-lg max-w-full overflow-hidden object-cover"
            loading="lazy"
            alt=""
            src="/feature-1@2x.png"
          />

          <div
            class="w-[553px] !m-[0] absolute bottom-[-60px] left-[calc(50%_-_276.5px)] rounded-53xl bg-axol-coral box-border flex flex-row items-start justify-start py-4 px-8 min-h-[76px] max-w-full z-[1] border-b-[8px] border-solid border-node-indigo"
          >
            <b
              class="w-[545px] relative text-17xl leading-[100%] inline-block font-body-s text-node-indigo text-center mq750:text-10xl mq750:leading-[29px] mq450:text-3xl mq450:leading-[22px]"
              >White Label Nodes</b
            >
          </div>
        </div>
        <div
          class="w-[1120px] flex flex-row items-start justify-center py-0 px-5 box-border max-w-full"
        >
          <div
            class="w-[720px] relative leading-[145%] font-medium inline-block shrink-0 max-w-full mq450:text-base mq450:leading-[0px]"
          >
            Outsource your node infrastructure to seasoned experts while
            promoting your personally branded nodes. We run institutional grade
            node infrastructure as a service.
          </div>
        </div>
      </div>
      <div
        class="w-[1120px] shrink-0 flex flex-col items-end justify-start pt-0 px-0 pb-[42px] box-border gap-[68px] max-w-full mq750:gap-[17px] mq450:pb-5 mq450:box-border mq1100:pb-[27px] mq1100:box-border mq1275:gap-[34px]"
      >
        <div
          class="self-stretch flex flex-row items-start justify-start relative max-w-full"
        >
          <img
            class="h-[630px] flex-1 relative rounded-lg max-w-full overflow-hidden object-cover"
            loading="lazy"
            alt=""
            src="/feature-carusel@2x.png"
          />

          <div
            class="w-[553px] !m-[0] absolute bottom-[-60px] left-[calc(50%_-_276.5px)] rounded-53xl bg-axol-coral box-border flex flex-row items-start justify-start py-4 px-8 min-h-[76px] max-w-full z-[1] border-b-[8px] border-solid border-node-indigo"
          >
            <h1
              class="m-0 h-9 flex-1 relative text-inherit leading-[100%] font-bold font-inherit inline-block max-w-full mq750:text-10xl mq750:leading-[29px] mq450:text-3xl mq450:leading-[22px]"
            >
              Protocol & Node Consulting
            </h1>
          </div>
        </div>
        <div
          class="w-[1098px] flex flex-row items-start justify-center py-0 px-5 box-border max-w-full text-xl text-crypto-frost"
        >
          <div
            class="h-[58px] w-[720px] relative leading-[145%] font-medium inline-block shrink-0 max-w-full mq450:text-base mq450:leading-[23px]"
          >
            Gain deep insight on protocol and market dynamics. Manage node
            infrastructure like the pros with 1:1 consultation.
          </div>
        </div>
      </div>
      <div
        class="w-[1120px] shrink-0 flex flex-col items-end justify-start pt-0 px-0 pb-[71px] box-border gap-[68px] max-w-full mq750:gap-[17px] mq450:pb-[30px] mq450:box-border mq1100:pb-[46px] mq1100:box-border mq1275:gap-[34px]"
      >
        <div
          class="self-stretch flex flex-row items-start justify-start relative max-w-full"
        >
          <img
            class="h-[630px] flex-1 relative rounded-lg max-w-full overflow-hidden object-cover"
            loading="lazy"
            alt=""
            src="/institutionalblockchainnodeswithadesertfern-1-11@2x.png"
          />

          <div
            class="h-[76px] w-[274px] !m-[0] absolute bottom-[-60px] left-[calc(50%_-_137px)] rounded-53xl bg-axol-coral box-border flex flex-row items-start justify-start py-4 px-8 whitespace-nowrap z-[1] border-b-[8px] border-solid border-node-indigo"
          >
            <h1
              class="m-0 h-9 flex-1 relative text-inherit leading-[100%] font-bold font-inherit inline-block"
            >
              Bitcoin DeFi
            </h1>
          </div>
        </div>
        <div
          class="w-[1098px] flex flex-row items-start justify-center py-0 px-5 box-border max-w-full text-xl text-crypto-frost"
        >
          <div
            class="h-[29px] w-[720px] relative leading-[145%] font-medium inline-block shrink-0 max-w-full mq450:text-base mq450:leading-[23px]"
          >
            Earn yield on your bitcoin with non-custodial delegation.
          </div>
        </div>
      </div>
      <div
        class="w-[1120px] shrink-0 flex flex-col items-end justify-start pt-0 px-0 pb-[71px] box-border gap-[68px] max-w-full mq750:gap-[17px] mq450:pb-[30px] mq450:box-border mq1100:pb-[46px] mq1100:box-border mq1275:gap-[34px]"
      >
        <div
          class="self-stretch flex flex-row items-start justify-start relative max-w-full"
        >
          <img
            class="h-[630px] flex-1 relative rounded-lg max-w-full overflow-hidden object-cover"
            loading="lazy"
            alt=""
            src="/institutionalblockchainnodeswithadesertfern-1-12@2x.png"
          />

          <div
            class="w-[461px] !m-[0] absolute bottom-[-60px] left-[calc(50%_-_230.5px)] rounded-53xl bg-axol-coral box-border flex flex-row items-start justify-start py-4 px-8 min-h-[76px] max-w-full z-[1] border-b-[8px] border-solid border-node-indigo"
          >
            <h1
              class="m-0 h-9 flex-1 relative text-inherit leading-[100%] font-bold font-inherit inline-block max-w-full mq750:text-10xl mq750:leading-[29px] mq450:text-3xl mq450:leading-[22px]"
            >
              Staking-as-a-Service
            </h1>
          </div>
        </div>
        <div
          class="w-[1098px] flex flex-row items-start justify-center py-0 px-5 box-border max-w-full text-xl text-crypto-frost"
        >
          <div
            class="h-[29px] w-[720px] relative leading-[145%] font-medium inline-block shrink-0 max-w-full mq450:text-base mq450:leading-[23px]"
          >
            Delegate to our low commission high performant nodes.
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[1140px] flex flex-row items-start justify-center py-0 pr-5 pl-0 box-border max-w-full"
    >
      <div
        class="rounded-[58px] bg-lavender overflow-x-auto flex flex-row items-start justify-start py-2 px-4 gap-[16px] z-[1]"
      >
        <input
          type="radio"
          id="radio1"
          name="sectionRadio"
          class="radio-button"
          checked
          required
        />
        <label for="radio1" class="radio-label"></label>
        <input
          type="radio"
          id="radio2"
          name="sectionRadio"
          class="radio-button"
          required
        />
        <label for="radio2" class="radio-label"></label>
        <input
          type="radio"
          id="radio3"
          name="sectionRadio"
          class="radio-button"
          required
        />
        <label for="radio3" class="radio-label"></label>
        <input
          type="radio"
          id="radio4"
          name="sectionRadio"
          class="radio-button"
          required
        />
        <label for="radio4" class="radio-label"></label>
      </div>
    </div>
  </div>
</section>
