---

---

<section
  id="useCasesSection"
  class="self-stretch bg-node-indigo overflow-hidden flex flex-col items-end justify-start py-16 pr-[180px] pl-[169px] box-border relative gap-[24px] max-w-full text-center text-45xl text-crypto-frost font-body-s mq750:py-[42px] mq750:pr-[90px] mq750:pl-[84px] mq750:box-border mq450:pl-5 mq450:pr-5 mq450:box-border"
>
  <img
    class="w-full h-[854px] absolute !m-[0] top-[calc(50%_-_427px)] right-[0px] left-[0px] max-w-full overflow-hidden shrink-0 object-cover mix-blend-screen"
    alt=""
    src="/bg-mesh-4@2x.png"
  />

  <h1
    class="m-0 self-stretch relative text-inherit leading-[100%] font-bold font-inherit z-[1] mq750:text-32xl mq750:leading-[51px] mq450:text-19xl mq450:leading-[38px]"
  >
    Use Cases
  </h1>
  <div
    class="w-[920px] flex flex-row items-start justify-center max-w-full text-left text-9xl"
  >
    <div
      class="h-[460px] w-[704px] flex flex-row flex-wrap items-center justify-center relative gap-[24px_20px] max-w-full z-[1] mq750:h-auto mq750:min-h-[460]"
    >
      <div
        class="w-[423px] !m-[0] absolute top-[0px] left-[0px] rounded-md bg-shadow-blockchain box-border flex flex-row items-start justify-start pt-[19px] pb-[26px] pr-[25px] pl-[42px] min-h-[225px] max-w-full [row-gap:20px] border-t-[0px] border-solid border-cryptowave-sky border-r-[0px] border-b-[6px] border-l-[0px] mq750:flex-wrap"
      >
        <div
          class="h-56 w-[421px] relative rounded-md bg-shadow-blockchain box-border hidden max-w-full border-b-[6px] border-solid border-cryptowave-sky"
        >
        </div>
        <div
          class="flex-1 flex flex-col items-start justify-start pt-[22px] px-0 pb-0 box-border min-w-[159px]"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[8px]"
          >
            <h2
              class="m-0 self-stretch relative text-inherit leading-[100%] font-bold font-inherit z-[1] mq450:text-3xl mq450:leading-[22px]"
            >
              VCs
            </h2>
            <div
              class="self-stretch relative text-base leading-[145%] font-medium text-cryptowave-sky z-[1]"
            >
              Strategically maximize potential upside with our discreet airdrop
              farming packages designed specifically for incentivized testnets.
            </div>
          </div>
        </div>
        <img
          class="h-[100px] w-[100px] relative object-cover z-[1] mq750:flex-1"
          loading="lazy"
          alt=""
          src="/VC@2x.png"
        />
      </div>
      <div
        class="h-[218px] !m-[0] absolute top-[0px] left-[445px] flex flex-row items-start justify-start pt-[19px] pb-[34px] pr-[19px] pl-[34px] box-border"
      >
        <div
          class="h-[calc(100%_+_41px)] w-[calc(100%_-_35px)] absolute !m-[0] top-[224px] right-[35px] bottom-[-265px] left-[0px] rounded-md bg-shadow-blockchain box-border [transform:_rotate(-90deg)] [transform-origin:0_0] border-l-[6px] border-solid border-cryptowave-sky"
        >
        </div>
        <div
          class="self-stretch w-[205.9px] overflow-hidden shrink-0 flex flex-row items-center justify-between gap-[-10px] z-[1]"
        >
          <div
            class="w-[135px] overflow-hidden shrink-0 flex flex-col items-center justify-end pt-3.5 px-0 pb-0 box-border"
          >
            <div
              class="self-stretch flex flex-col items-center justify-start gap-[8px]"
            >
              <h2
                class="m-0 self-stretch relative text-inherit leading-[100%] font-bold font-inherit mq450:text-3xl mq450:leading-[22px]"
              >
                Retail
              </h2>
              <div
                class="self-stretch relative text-base leading-[145%] font-medium text-cryptowave-sky"
              >
                Perform non-custodial staking through token delegation to our
                validators.
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-center justify-start z-[1]"
          >
            <img
              class="w-[70px] h-18 relative overflow-hidden shrink-0 object-cover"
              loading="lazy"
              alt=""
              src="/retail@2x.png"
            />
          </div>
        </div>
      </div>
      <div
        class="!m-[0] absolute top-[242px] left-[0px] flex flex-col items-start justify-start pt-5 pb-[34px] pr-[23px] pl-[51px] gap-[8px]"
      >
        <div
          class="w-[calc(100%_-_35px)] h-[calc(100%_+_41px)] absolute !m-[0] top-[224px] right-[35px] bottom-[-265px] left-[0px] rounded-md bg-shadow-blockchain box-border [transform:_rotate(-90deg)] [transform-origin:0_0] border-l-[6px] border-solid border-cryptowave-sky"
        >
        </div>
        <div class="flex flex-row items-start justify-start">
          <div
            class="w-[125px] flex flex-col items-start justify-start pt-2 px-0 pb-0 box-border"
          >
            <h2
              class="m-0 w-[157px] relative text-inherit leading-[100%] font-bold font-inherit inline-block shrink-0 [debug_commit:f6aba90] z-[1] mq450:text-3xl mq450:leading-[22px]"
            >
              Bitcoin Miners
            </h2>
          </div>
          <img
            class="h-[60px] w-[60px] relative overflow-hidden shrink-0 [debug_commit:f6aba90] z-[1]"
            loading="lazy"
            alt=""
            src="/frame2.svg"
          />
        </div>
        <div
          class="w-[157px] relative text-base leading-[145%] font-medium text-cryptowave-sky inline-block z-[1]"
        >
          Seamlessly earn yield on staked Bitcoin through our innovative
          solutions.
        </div>
      </div>
      <div
        class="w-[421px] !m-[0] absolute top-[242px] left-[283px] flex flex-row items-start justify-start pt-0 pb-[43px] pr-[34px] pl-10 box-border max-w-full"
      >
        <div
          class="h-[calc(100%_+_203px)] w-[calc(100%_-_197px)] absolute !m-[0] top-[0px] right-[-224px] bottom-[-203px] left-[421px] rounded-md bg-shadow-blockchain box-border [transform:_rotate(90deg)] [transform-origin:0_0] border-r-[6px] border-solid border-cryptowave-sky"
        >
        </div>
        <div
          class="flex-1 overflow-hidden flex flex-row items-start justify-start pt-6 px-0 pb-0 box-border gap-[7px] max-w-full z-[1] mq450:flex-wrap"
        >
          <div
            class="flex-1 flex flex-col items-start justify-start pt-[18px] px-0 pb-0 box-border min-w-[156px]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[8px]"
            >
              <h2
                class="m-0 self-stretch relative text-inherit leading-[100%] font-bold font-inherit mq450:text-3xl mq450:leading-[22px]"
              >
                Protocol Foundations
              </h2>
              <div
                class="self-stretch relative text-base leading-[145%] font-medium text-cryptowave-sky"
              >
                Diversify & strengthen your validator set by leveraging our
                carbon-neutral infra in LATAM.
              </div>
            </div>
          </div>
          <img
            class="h-[100px] w-[100px] relative overflow-hidden shrink-0 object-cover mq450:flex-1"
            loading="lazy"
            alt=""
            src="/frame1@2x.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
