---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:ital,wght@0,500;0,700;0,800;1,500&display=swap"
    />
    <style>
      @media (max-width: 750px) {
        .navbar-logo {
          z-index: 2; /* Adjust the value as needed */
          position: relative; /* Ensure the element is positioned */
        }
        .button-container {
          z-index: 1; /* Ensure this is lower than the navbar logo's z-index */
          position: relative; /* Ensure the element is positioned */
        }
      }
    </style>
  </head>
  <body>
    <slot />
    <script type="module" src="https://unpkg.com/lenis@1.0.44/dist/lenis.min.js"
    ></script>
    <script type="module" src="/src/utils/lenisSmoothScroll.js"></script>
  </body>
</html>
